:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  background-color: #7b1e3c;
  padding: 1rem 2rem;
  color: white;

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .menu {
      list-style: none;
      display: flex;
      gap: 1rem;

      li {
        a {
          color: white;
          font-weight: bold;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

footer {
  background-color: #7b1e3c;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}
